#main{
  background-image: url("photos/fondokrl.jpg");
  background-size:cover;
  background-size: 100%;
  padding: 80px 0;
  text-align: center;
  margin-bottom: 20px;
  color: white;
}


#main p{
  color: white;
  font-size: 20px;
  font-weight: lighter;
  opacity: 0.8;
  text-align: center;
}/* Here goes your CSS */


.round{
  border-radius: 50%;
  border: 50;
}

body {
  background-color: white;
  /*padding: 50px;*/
  font-family: Montserrat;
  text-align: center;
}
a {
  text-decoration: none;
  color: white;
}
a:hover{
  text-decoration: none;
  color: #B3001B;
}
p { 
  color: #000000;
}

h2{
  color: #B3001B;
}

div {
  display: block;
}

/*.container {
  width: 500px;
  margin: 0 auto; /* Automatically set left/right margins
}*/
.card{
  background-color: white;
  font-weight: 20;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
}


.inline{
  padding-left: ;
}

.inline li{
  display: inline-block;
  padding: 0px 20px;
}
.round{
  border-radius: 50%;
}
.btn-krl{
  background-color: black;
}
.btn-krl:hover{
  background-color: black;
}

#footer{
  background: rgba(85, 85, 85, 0.2);;
  font-size: 20px;
  padding: 10px;
  text-align: left;
}

#footer a {
  color: white;
  font-size: 20px;
  opacity: 0.7;
}

#footer a:hover {
  color:white;
}

